@import '../../../styles/variables.scss';

/*
 * Header
 */

.groups__header {
    display: flex;
}

.groups__title {
    width: 100%;
    margin: 30px;
}

.groups__toolbar {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.groups__add-button {
    width: 130px;
}

.groups {
  margin: 0 100px 0 100px;
}

.circule-container {
  width: 130px;
  height: 130px;
}

.groups__list {
    display: flex;
    flex-direction: row;
    width: 150px;
}

.groups__link {
    & > a {
        color: $color-primary;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.groups-item {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.groups__labels {
    text-align: center;
    margin-bottom: 3px;
}

.groups__labels {
    &:not(:first-child) {
        margin-left: 5px;
    }
}

.groups__no-results {
    margin-top: 30px;
    padding: 10px;
    background-color: $color-secondary;
    border-radius: 4px;
}
