@import '../../../styles/variables.scss';

/*
 * Header
 */

.fotocopias-page__header {
    display: flex;
}

.fotocopias-page__title {
    width: 100%;
    align-self: center;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 15 0 15 0;
}

.fotocopias-page__toolbar {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.fotocopias-page__toolbar-button {
    width: 130px;

    &:not(:first-child) {
        margin-left: 10px;
    }
}

/*
 * Loader
 */

.fotocopias-page__spinner {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/*
 * List
 */

.fotocopias-page__list {
    margin-top: 30px;
}

.fotocopias-page__link {
    & > a {
        color: $color-primary;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.fotocopias-page__labels {
    display: flex;
}

.fotocopias-page__label {
    &:not(:first-child) {
        margin-left: 5px;
    }
}

.fotocopias-page__no-results {
    margin-top: 30px;
    padding: 10px;
    background-color: $color-secondary;
    border-radius: 4px;
}

.fotocopias-page__form-item {

    &:not(:first-child) {
        margin-top: 30px;
    }
}

/*
 * Form
 */

.fotocopias-page__form {
    display: flex;
    margin-top: 30px;
}

.fotocopias-page__left-column {
    width: 50%;
}

.fotocopias-page__right-column {
    width: 50%;
    margin-left: 30px;
}

.fotocopias-page__form-item {

    &:not(:first-child) {
        margin-top: 30px;
    }
}
