@import '../../../styles/variables.scss';

.main-navigation {
    width: 100%;
    font-family: $font-family-heading;
}

.main-navigation__item {
    display: inline;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;

    & > a {
        color: yellow;
        text-decoration: none;
        &:hover {
            color: $color-primary;
        }
    }
}

.main-navigation__item-admin {
  display: inline;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;

  & > a {
      color: black;
      text-decoration: none;
      &:hover {
          color: $color-primary;
      }
  }
}

.main-navigation__item-regular {
  display: inline;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;

  & > a {
      color: yellow;
      text-decoration: none;
      &:hover {
          color: $color-primary;
      }
  }
}
