@import '../../../../styles/variables.scss';

.desktop-header {
    display: flex;
    justify-content: center;
    border-top: solid 3px #c20030;
    border-bottom: solid 3px #c20030;
    background-color: transparent;
}

/*
 * Container
 */

.desktop-header__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $layout-max-width;
    padding: 10px 32px 10px 32px;
    @media only screen and (min-width: $layout-max-width) {
        padding-left: 0;
        padding-right: 0;
    }
}

.desktop-header__row {
    display: flex;
    width: 100%;

    &:not(:first-child) {
        margin-top: 7.5px;
    }
}

.desktop-header__container-left-column {
    display: flex;
    width: 100%;
}

.desktop-header__container-right-column {
    display: flex;
    justify-content: flex-end;
    min-width: 350px;
    align-self: center;
}

/*
 * Logo & Buttons
 */

.desktop-header__logo {
    width: 100%;
    min-width: 169px;
    max-width: 169px;
    height: 47px;
    background: url('./logo-tienda765.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.desktop-header__tienda {
  display: inline;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  vertical-align: baseline;
  background: transparent;
  color: white;
  text-decoration: none;
  font-weight: 700;

}

.desktop-header__765 {
  display: inline;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  vertical-align: baseline;
  background: transparent;
  color: white;
  font-family: $font-family-heading;
  text-decoration: none;
  font-weight: 700;
}

.desktop-header__logo-link {
    align-self: center;
    text-decoration: none;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 40px;
    cursor: pointer;
    background-color: #ff4056;
    padding: 10px;

    &:hover {
        span {
            color: $color-primary;
        }
    }
}

.desktop-header__button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/*
 * Navigation
 */

.desktop-header__navigation {
    align-self: center;
}

/*
 * Account & Cart
 */

.desktop-header__account {
    display: flex;
    align-self: center;
}

.desktop-header__logout-button,
.desktop-header__register-button {
    align-self: center;
    padding: 10px;

    a {
        text-decoration: none;

        &:hover {
            span {
                color: $color-primary;
            }
        }
    }
}

.desktop-header__login-button,
.desktop-header__account-button {
    padding: 5px;
    margin-left: 10px;
    border: 1px solid red;
    border-radius: 3px;

    a {
        text-decoration: none;

        &:hover {
            span {
                color: $color-primary;
            }
        }
    }
}

.desktop-header__cart {
    margin-left: 20px;
    align-self: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url('./cart.png');
    background-size: 100%;
}
