@import '../../../../styles/variables.scss';

.handhelds-header {
    display: flex;
    padding: 5px;
    background-color: black;
    height: 60;
}

/*
 * Left Actions
 */

.handhelds-header__left-actions {
    align-self: center;
    text-align: left;
    width: 38%;
}

/*
 * Logo
 */

 .handhelds-header__logo-link {
   align-self: center;
   cursor: pointer;
   padding: 10px;

     &:hover {
         span {
             color: $color-primary;
         }
     }
 }

 .handhelds-header__logo-link a { text-decoration: none; }

 .handhelds-header__tienda {
   display: inline;
   font-size: 30px;
   letter-spacing: 1px;
   text-decoration: none;
   vertical-align: baseline;
   background: transparent;
   color: white;
   font-weight: 700;

 }

 .handhelds-header__765 {
   display: inline;
   font-size: 30px;
   letter-spacing: 1px;
   vertical-align: baseline;
   background: transparent;
   color: white;
   font-family: $font-family-heading;
   text-decoration: none;
   font-weight: 700;
 }

.handhelds-header__title {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 60%;
}

.handhelds-header__logo {
    width: 60;
    height: 60;
    position:static;
    background: url('./tienda-santa.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

/*
 * Right Actions
 */

.handhelds-header__right-actions {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 38%;
}

/*
 * Button Icons
 */

.handhelds-header__menu-button {
    width: 60px;
    height: 50px;
    cursor: pointer;
    background: url('./menu-black.png');
    background-color: black;
    background-size: 100%;
}

.handhelds-header__cart-button {
    width: 45px;
    height: 45px;
    cursor: pointer;
    background: url('./cart-white.png');
    background-size: 100%;
}

.handhelds-header__close-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url('./close-white.png');
    background-size: 100%;
}
